body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0%;
    background: #222222;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

/*CONTACTO*/

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #ef8354;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ef8354;
}

.contact-form form button {
    background: #ef8354;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

/* EFECTO HOVER EN EL BOTÓN DE ENVIAR */
.contact-form form button:hover,
.contact-form form button:focus {
    background: #f55713;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* INFO DE CONTACTO */
.contact-info {
    background: rgb(0, 0, 0);
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/* REGRISTRO */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
  }
  
.form-register {
    width: 450px;
    background: #222222;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
  }
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
.controls {
    width: 100%;
    background: #222222;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ef8354;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
.form-register a {
    color: white;
    text-decoration: none;
  }
  
.form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
.form-register .botons {
    width: 100%;
    background: #ef8354;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

/* INFORMACIÓN */
  
  .container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
  
  .item{
    background-color: rgb(35, 35, 35);
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
  
  
  .item::after {
    content: "";
    background-color: rgba(255, 174, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item:hover {
    transform: scale(1.05);
  }
  
  .item-text{
    padding: 1em;
  }
  
  
  .item-img{
    max-width: 100%;
    display: block;
  }
  
  
  @media screen and (min-width: 590px) {
    
    .container{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  
  
  
  @media screen and (min-width: 960px) {
    
    .container{
      grid-template-columns: repeat(3, 1fr);
    }
    
  }

  .gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}
.gallery img{
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 10px 0;
}

.comentarios {
  text-align: center;
}